<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd">

       <beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
              <beans:property name="rolePrefix" value=""/>
       </beans:bean>
       <beans:bean id="authenticationSuccessHandler" class="by.bsu.fpmi.battleroy.handler.CustomAuthenticationSuccessHandler"/>
       <beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

       <http auto-config='true' use-expressions="true">
              <form-login
                      login-page="/login"
                      default-target-url="/"
                      authentication-failure-url="/login?error"
                      username-parameter="username"
                      password-parameter="password"
                      authentication-success-handler-ref="authenticationSuccessHandler" />

              <logout logout-success-url="/login?logout" delete-cookies="JSESSIONID"/>

           <intercept-url pattern="/login/**" access="isAnonymous()"/>
           <intercept-url pattern="/signup/**" access="isAnonymous()"/>
           <intercept-url pattern="/editspot/**" access="hasRole('USER')"/>
           <intercept-url pattern="/newspot/**" access="hasRole('USER')"/>

              <session-management>
                     <concurrency-control max-sessions="100" session-registry-alias="sessionRegistry"/>
              </session-management>
       </http>

       <authentication-manager alias="authenticationManager">
              <authentication-provider user-service-ref="userDetailsService">
                     <password-encoder hash="sha-256">
                            <salt-source user-property="username"/>
                     </password-encoder>
              </authentication-provider>
       </authentication-manager>

</beans:beans>